apiVersion: v1
kind: Secret
metadata:
  name: app
  namespace: cyrus-lyrics-api
type: Opaque
stringData:
  aaronSheetId:
  demoSheetId:
---
apiVersion: v1
kind: Secret
metadata:
  name: oauth
  namespace: cyrus-lyrics-api
type: Opaque
stringData:
  clientId:
  clientSecret:
  projectId:
  redirectUri:
